<p>イベントデータ一覧</p>
<table>
    <tr>
        <th>Id</th><th>name</th><th>memo</th><th></th>
    </tr>
    <% @data.each do |obj| %>
        <tr>
            <td><%= obj.id %></td>
            <td><%= obj.name %></td>
            <td><%= obj.memo %></td>
            <td><a href="/event_configs/"<%= obj.id %>">Edit</a></td>
        </tr>
    <% end %>
</table>
<p><a href="/event_categories/add">新規作成>> </a></p>