<p>サイトの設定内容</p>
<table>
    <tr>
        <th>タイトル<th>
        <td><%= @event_config.title  %></td>
    </tr>
    <tr>
        <th>サブタイトル<th>
        <td><%= @event_config.subtitle  %></td>
    </tr>
    <tr>
        <th>スタイル<th>
        <td><%= @event_config.stylename  %></td>
    </tr>
</table>